body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  user-select: none;
  background: #1b1924;
}

#main-container {
  margin: 50px auto;
  max-width: 390px;
  padding-bottom: 20px;
  overflow: auto;
}

#hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 24px 0;
}

#hero-icon {
  width: 90px;
  height: 90px;
  margin: 50px 0 0 0;
}

#hero-title {
  color: #fff;
  font-family: Josefin Sans;
  font-size: 25px;
  font-weight: 700;
  margin: 17px 0 19px 0;
}

#endorsement-input {
  width: 317px;
  height: 118px;
  border-radius: 8px;
  border: none;
  background: #444059;
  margin: 0;
  padding: 12px 18px;
  box-sizing: border-box;
  color: #8f8f8f;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
}

#publish-btn {
  cursor: pointer;
  margin: 13px 0 0 0;
  width: 317px;
  height: 61px;
  border-radius: 8px;
  background: #28a9f1;
  border: none;
  color: #04131c;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 22px;
  font-weight: 700;
}

#endorsement-section {
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

#endorsement-title {
  color: #fff;
  font-family: Josefin Sans;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 19px 0;
}

#endorsement-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: column;
  align-items: center;
  margin: 0;
  gap: 13px;
  color: #fff;
  font-family: Inter;
  flex-wrap: wrap-reverse;
}

#endorsement-list li {
  cursor: pointer;
  width: 317px;
  background: #fff;
  padding: 12px;
  box-sizing: border-box;
  color: #1b1924;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  flex-grow: 1;
}
